__pycache__/
.venv/
.env
venv/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
build/
dist/
eggs/
*.egg-info/
.pytest_cache/
.vscode/
.idea/
serviceAccountKey.json
key.pem
cert.pem
*.log
node_modules/
/.env
/.DS_Store
